<div class="header-section">
  <header>
    <div class="brand " (click)="onNavigateHome()">
      <img src="/assets/images/logo.png" alt="avatar" class="cursor-pointer" />
      <h5 class="cursor-pointer">The Store</h5>
    </div>
    <div class="nav ">
      <ul>
        <li (click)="onNavigateCart()" class="cursor-pointer">
          <img src="/assets/images/shopping-bag.png" alt="cart" />
          <span class="badge">{{cartItemsCount}}</span>
        </li>
      </ul>
    </div>
  </header>
</div>
