.product-list {
  padding: 10px 0;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.filter-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-checkbox,
.filter-input,
.filter-select {
  flex: 1;
}
.filter-input {
  display: flex;
  align-items: center;
}

.filter-input input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 200px;
  height: 25px;
}

.filter-input label {
  margin-right: 10px;
}
.filter-select {
  display: flex;
  align-items: center;
}

.filter-select label {
  margin-right: 10px;
}