/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

.cursor-pointer {
  cursor: pointer;
}

.mr-2 {
  margin-right: 10px;
}

.display-flex {
  display: flex;
  justify-content: center;
  // align-items: center;
}

.width-60 {
  width: 60%;
}
.width-40 {
  width: 40%;
}
